{
  "env": {
    "client": {
      "presets": ["babel-preset-env", "babel-preset-react"],
      "plugins": [
        "transform-runtime",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-export-extensions",
        "syntax-dynamic-import",
        "react-loadable/babel",
        "react-hot-loader/babel"
      ]
    },
    "server": {
      "presets": ["babel-preset-env", "babel-preset-react"],
      "plugins": [
        "transform-runtime",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-export-extensions",
        "syntax-dynamic-import",
        "dynamic-import-node",
        "react-loadable/babel",
        [
          "css-modules-transform",
          {
            "generateScopedName": "[local]_[sha1:hash:base64:5]",
            "preprocessCss": "./build/babel/sass-process",
            "prepend": ["autoprefixer"],
            "extensions": [".scss", ".css"]
          }
        ]
      ]
    }
  }
}
